
@{
    ViewBag.Title = "Quản lý phòng ngày";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="modal InsertDayRoom" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Cập nhật phòng ngày</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="CloseInsert_onClick();">
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group search-input">
                    <input type="text" class="form-control" id="keyword" name="KeywordRoomCate" placeholder="Nhập từ khoá tìm kiếm" onkeyup="RoomCategory_KeyUp(event,this)" onfocus="RoomCategory_OnFocus(this)">
                    <ul class="autocomplete" id="autocomplete-room" style="display: none;">
                    </ul>
                </div>
                <div class="card-body py-0">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table card-table display mb-4 dataTablesCard booking-table" id="guestTable-all3">
                                <thead>
                                    <tr>
                                        <th class="bg-none">
                                            <div class="form-check style-1">
                                                <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                            </div>
                                        </th>
                                        <th>Room Name</th>
                                        <th>Room Floor</th>
                                    </tr>
                                </thead>
                                <tbody id="list-room">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="date-create form-group">
                    <div class="date-pick">
                        <span>Từ ngày</span>
                        <input class="form-control" id="start-date-insert" />
                        <span>đến</span>
                        <input class="form-control" id="end-date-insert" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal" onclick="CloseInsert_onClick();">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="InsertDayRoom_onClick();">Lưu</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal UpdateDayRoom" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Cập nhật phòng ngày</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="CloseInsert_onClick();">
                </button>
            </div>

            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal" onclick="CloseInsert_onClick();">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="InsertDayRoom_onClick();">Lưu</button>
            </div>
        </div>
    </div>
</div>*@


<div class="container-fluid">
    <div class="row">
        <h2>Quản lý phòng ngày</h2>
    </div>
    <div class="d-block d-lg-flex align-items-center justify-content-between mb-5">
        <div class="coin-tabs input-group search-area2 w-25">
            <input id="keyword" type="text" class="form-control" placeholder="Tìm kiếm theo tên phòng" onkeypress="searchKeyPress(event);">
            <button class="input-group-text" onclick="searchDayRoom()">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="form-head d-inline-block d-sm-flex align-items-center mt-2 mt-lg-0">
            <select class="form-control default-select style-1 border w-auto" name="Status" onchange="Status_onChange();">
                <option value="">Trạng thái phòng</option>
                <option value="AVAILABLE">Còn trống</option>
                <option value="BOOKED">Đã đặt</option>
            </select>
            <div class="date-create form-group mb-0">
                @*<label class="font-weight-semibold">Từ ngày</label>*@
                <div class="date-pick">
                    <input class="form-control" id="day-time" placeholder="Chọn ngày" onchange="DayTime_onChange()" />
                </div>
            </div>

            <button class="btn btn-primary ms-sm-3 ms-0 mt-2 mt-sm-0" onclick="searchDayRoom();">Tìm kiếm</button>

            <button class="btn btn-primary ms-sm-3 ms-0 mt-2 mt-sm-0" onclick="AddDayRoom_onClick();">Thêm mới</button>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="row list-room-day" id="list-room-day">
            <div class="col-md-3" style="height: 75px;"><div class="room-day d-flex">
                    <div class="room-name room-available">Phòng <br /> 101</div>
                    <div class="status-room"><div>Bùi Mai Linh</div><div>20/05/2023 - 24/05/2023</div></div>
                </div></div>
            <div class="col-md-3" style="height: 75px; margin-bottom: 10px;">
                <div class="room-day d-flex">
                    <div class="room-name room-booked">Phòng <br /> 101</div>
                    <div class="status-room">
                        <div>Phòng trống</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="height: 75px;">
                <div class="room-day d-flex">
                    <div class="room-name room-booked">Phòng <br /> 101</div>
                    <div class="status-room">
                        <div>Phòng trống</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="height: 75px;">
                <div class="room-day d-flex">
                    <div class="room-name room-booked">Phòng <br /> 101</div>
                    <div class="status-room">
                        <div>Phòng trống</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="height: 75px;">
                <div class="room-day d-flex">
                    <div class="room-name room-booked">Phòng <br /> 101</div>
                    <div class="status-room">
                        <div>Phòng trống</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="height: 75px;">
                <div class="room-day d-flex">
                    <div class="room-name room-booked">Phòng <br /> 101</div>
                    <div class="status-room">
                        <div>Phòng trống</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="d-lg-flex justify-content-between" style="padding: 0 1.875rem 3rem 1.875rem;">
    <div class="form-inline" id="dynamic-table_length">
        <div class="d-lg-flex align-items-center">
            <div style="width: 50px;">Hiển thị </div>
            <select name="dynamic-table_length" aria-controls="dynamic-table" class="form-control input-sm" style="width: 60px; height: 35px; line-height:25px; margin-right:10px;" onchange="searchDayRoom();">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            <div style="width: 100px;"> tầng </div>
        </div>
    </div>

    <div class="">
        <ul class="pagination pagination-circle mb-0" id="pagination">
        </ul>
    </div>
</div>



@section styles{
    <style>
        .date-create {
            flex: 2;
            margin-left: 10px;
        }

            .date-create .date-pick {
                display: flex;
                gap: 10px;
            }

                .date-create .date-pick input {
                    width: 85%;
                }

        .modal-dialog {
            width: 800px;
            max-width: 1200px;
            max-height: 600px;
        }

        .autocomplete {
            border: solid 0.5px #808080;
            max-height: 200px;
            overflow: auto;
            position: absolute;
            width: 100%;
            background-color: #ffffff;
            z-index: 1000;
        }

            .autocomplete li {
                padding: 5px 10px;
            }

                .autocomplete li:hover {
                    background-color: #aa8453;
                    color: #ffffff;
                    cursor: pointer;
                }

        .InsertDayRoom .card-table td:first-child {
            padding-left: 1rem;
        }

        .InsertDayRoom .card-body {
            padding: 0;
            max-height: 300px;
            overflow: auto;
        }

        .InsertDayRoom .search-input {
            display: block;
            position: relative;
        }

            .InsertDayRoom .search-input ul {
            }

        .list-room-day .room-day {
            height: 100%;
            border-radius: 10px;
            background-color: white;
            box-shadow: 5px 5px 15px 5px #b7a8a8;
        }

        .room-day .status-room {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 10px;
        }

        .list-room-day .room-booked {
            background-color: #ee7f17;
            height: 100%;
            color: white;
            text-align: center;
            padding: 10px;
            border-radius: 10px 0 0 10px;
        }

        .list-room-day .room-available {
            background-color: #2b872b;
            height: 100%;
            color: white;
            text-align: center;
            padding: 10px;
            border-radius: 10px 0 0 10px;
        }

        .room-day .room-name .button-func > button{
            background-color: none !important;
            border: none;
            margin: 0 4px;
        }
    </style>
}
@section scripts{
    <script>

        $('#day-time').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy'
        });


        $('#start-date-insert').datepicker({
            autoclose: true,
            //format: 'dd-mm-yyyy'
        });

        $('#end-date-insert').datepicker({
            autoclose: true,
            //format: 'dd-mm-yyyy'
        });

        const searchModel = {
            CurrentPage: 1,
            Floor: $('[name=dynamic-table_length]').val(),
            Keyword: $('#keyword').val(),
            Status: $('[name=Status]').val(),
            DayTime: $('#day-time').val()
        };

        const searchDayRoom = function () {
            searchModel.CurrentPage = 1;
            searchModel.Floor = $('[name=dynamic-table_length]').val();
            searchModel.Keyword = $('#keyword').val();
            searchModel.Status = $('[name=Status]').val();
            let time = $('#day-time').val();
            searchModel.DayTime = ConvertTime(time);

            getdataListDayRoom(searchModel);
        }

        
        const getdataListDayRoom = async function (searchModel) {
            let rq = await fetch('/api/AdminDayRoom/GetListDayRoomByDay?keyword=' + searchModel.Keyword + '&status=' + searchModel.Status + '&dayTime=' + searchModel.DayTime + '&floor=' + searchModel.Floor, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;

            $('#list-room-day').html('');
            
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                let html = '';
                for (let i = 0; i < rs.data.length; i++) {
                    let x = rs.data[i];
                    if (x.Status === 'AVAILABLE') {
                        html += `<div class="col-md-3" style="height: 75px; margin-bottom: 10px;" onclick=""><div class="room-day d-flex">`;
                        html += `<div class="room-name room-available">`;
                        html += `<div>Phòng <br/> ${x.RoomName} </div>`;
                        html += `<div class="button-func"><button class="btn btn-danger shadow btn-xs sharp" data-id="${x.DayRoomId}" onclick="DeleteDayRoom(this)"><i class="fa fa-trash"></i></button>`;
                        html += `<button class="btn btn-warning shadow btn-xs sharp me-1" data-id="${x.DayRoomId}" onclick="UpdateDayRoom(this)"><i class="fa fa-pencil"></i></button></div></div>`;
                        html += ` <div class="status-room">Phòng trống</div>`;
                        html += `</div></div>`;
                    }
                    else if (x.Status === 'BOOKED') {
                        html += `<div class="col-md-3" style="height: 75px; margin-bottom: 10px;" onclick=""><div class="room-day d-flex">`;
                        html += `<div class="room-name room-booked">`;
                        html += `<div>Phòng <br/> ${x.RoomName} </div>`;
                        html += `<div class="button-func"><button class="btn btn-danger shadow btn-xs sharp" data-id="${x.DayRoomId}" onclick="DeleteDayRoom(this)"><i class="fa fa-trash"></i></button>`;
                        html += `<button class="btn btn-warning shadow btn-xs sharp me-1" data-id="${x.DayRoomId}" onclick="UpdateDayRoom(this)"><i class="fa fa-pencil"></i></button></div></div>`;
                        html += ` <div class="status-room"><div>${x.Name}</div><div>${DateStringFormat({ stringDate: new Date(x.CheckIn), newFormat: 'dd/mm/yyyy' })} - ${DateStringFormat({ stringDate: new Date(x.CheckOut), newFormat: 'dd/mm/yyyy' })}</div></div>`;
                        html += `</div></div>`;
                    }
                }


                $('#list-room-day').append(html);
                Pagination(searchModel, rs.data.TotalPage, null, getdataListDayRoom);
            }
        }

        const UpdateDayRoom = async function (el) {
            _isUpdate = true;
            $('#exampleModalCenter').css('display', 'block');
            const id = $(el).data('id');
            let rq = await fetch('/api/AdminDayRoom/GetDayRoomById?id=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            console.log(rs);
            var date = DateStringFormat({ stringDate: new Date(rs.data.DayTime), newFormat: 'mm-dd-yyyy' });
            console.log(date);
            if (AdminCheckErrorResponse(rs) == false) return;
            $('#DayRoomId').val(rs.data.DayRoomId);
            $('[name=Room]').val(rs.data.RoomId);
            $('[name=DayTimeRoom]').val(date);
        }

        const DeleteDayRoom = async function (el) {
            if (confirm('Bạn có chắc muốn xóa phòng ngày này không?') === false) return;
            const id = $(el).data('id');

            let rq = await fetch('/api/AdminDayRoom/DeleteDayRoom?id=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault,
            });
            let rs = await rq.json();

            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                alert('Xóa phòng ngày thành công.')
                searchDayRoom();
            }
        }

        const AddDayRoom_onClick = function () {
            $('.InsertDayRoom').css('display', 'flex');
        }

        /*Modal Insert Day Room*/
        const InsertDayRoom_onClick = async function () {
            let lsRoomId = [];
            var tableRow = $('#list-room tr');
            for (let i = 0; i < tableRow.length; i++) {
                const row = $(tableRow[i]);
                const check = $(row).find('[name=checkedRoom]').prop('checked');
                if (check === true) {
                    var id = $(row).data('id');
                    lsRoomId.push(id);
                }
            }

            let model = {
                ListRoomId: lsRoomId,
                StartDate: $('#start-date-insert').val(),
                EndDate: $('#end-date-insert').val()
            };

            if (lsRoomId.length <= 0) {
                alert("Bạn phải chọn phòng");
                return;
            }

            if (GetObjectProperty(model, 'StartDate') === '') { alert('Ngày không được để trống.'); return; }
            if (GetObjectProperty(model, 'EndDate') === '') { alert('Ngày không được để trống.'); return; }

            const rp = await fetch('/api/AdminDayRoom/InsertListDayRoom', {
                method: 'post',
                headers: Enum.OptionAdminHeaderDefault,
                body: JSON.stringify(model)
            });
            let rs = await rp.json();

            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                if (rs.message !== '' && rs.message !== null) alert(rs.message);
                alert('Thêm phòng ngày thành công');
                CloseInsert_onClick();
            }

            searchDayRoom();

        }

        const CloseInsert_onClick = function () {
            $('.InsertDayRoom').css('display', 'none');
            ResetModalInsert();
        }

        const RoomCategory_OnFocus = function (el) {
            $(el).closest('.search-input').find('.autocomplete').css('display', 'block');
        }

        const RoomCategory_KeyUp = async function (event, el) {
            if (event.keyCode === 27) { $(el).closest('.search-input').find('.autocomplete').css('display', 'none'); return; }
            let keyword = $(el).val();
            keyword = keyword.trim();
            keyword = RemoveVietnameseTones(keyword);
            let rq = await fetch('/api/AdminRoomCategory/GetRoomCategories?keyword=' + keyword, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {

                _listRoomCategory = rs.data;


                if (_listRoomCategory.length <= 0) { $(el).closest('.search-input').find('.autocomplete').html('<li>Không tìm thấy loại phòng nào</li>'); return; }
                $(el).closest('.search-input').find('.autocomplete').html('');

                for (let i = 0; i < _listRoomCategory.length; i++) {
                    $(el).closest('.search-input').find('.autocomplete').append(`<li onclick="RoomCategory_Select(this);" data-id="${_listRoomCategory[i].RoomCategoryId} " data-name="${_listRoomCategory[i].Name}">${GetObjectProperty(_listRoomCategory[i], 'Name')}</li>`);

                }
            }

        }

        const RoomCategory_Select = async function (el) {
            var id = $(el).data('id');
            var name = $(el).data('name');
            console.log(id);
            $('#list-room').html('');

            let rq = await fetch('/api/AdminRoom/GetListRoomByCategory?id=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('.InsertDayRoom #keyword').val(name);
                let html = '';
                for (let i = 0; i < rs.data.length; i++) {
                    html += `<tr data-id="${rs.data[i].RoomId}">`;
                    html += `<td><div class="form-check style-1"><input class="form-check-input" type="checkbox" value="" name="checkedRoom"></div></td>`;
                    html += `<td> <div class="guest-bx">`;
                    html += `<h4 class="mb-0 mt-1 fs-16 font-w500 text-nowrap">${rs.data[i].Name} </h4>`;
                    html += `</div></td>`;
                    html += `<td> <div>`;
                    html += `<span class="fs-15 font-w500 text-nowrap">${rs.data[i].Floor}</span>`;
                    html += `</div></td>`;
                    html += `</tr>`;

                }
                $('#list-room').append(html);
            }


            $(el).closest('.search-input').find('.autocomplete').css('display', 'none');
        }

        const ResetModalInsert = function () {
            $('input[name=KeywordRoomCate]').val('');
            $('#list-room').html('');
            $('#start-date-insert').val();
            $('#end-date-insert').val();
        }

        const DayTime_onChange = function () {
            searchModel.DayTime = $('[name=DayTime]').val();
            searchDayRoom();
        }

        const Status_onChange = function () {
            searchModel.Status = $('[name=Status]').val();
            searchDayRoom();
        }

        /*const listRoom = async function () {
            let rq = await fetch('/api/AdminRoom/GetRooms', {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;

            console.log(rs);

            if (AdminCheckErrorResponse(rs) === false) return;
            $('[name=Room]').html('');
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                for (let i = 0; i < rs.data.length; i++) {
                    html += `<option value="${rs.data[i].RoomId}">${rs.data[i].Name}</option>`;
                }
            }
            console.log(html);
            $('[name=Room]').append(html);
        }*/

        /*const DayTime_onChange = function () {
            searchModel.DayTime = $('[name=DayTime]').val();
            searchDayRoom();
        }

        const Status_onChange = function () {
            searchModel.Status = $('[name=Status]').val();
            searchDayRoom();
        }*/

        /*const AddDayRoom_onClick = function () {
            _isUpdate = false;
            $('#exampleModalCenter').css('display', 'block');
        }

        const Update_onClick = async function (el) {
            _isUpdate = true;
            $('#exampleModalCenter').css('display', 'block');
            const id = $(el).data('id');
            let rq = await fetch('/api/AdminDayRoom/GetDayRoomById?id=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            console.log(rs);
            var date = DateStringFormat({ stringDate: new Date(rs.data.DayTime), newFormat: 'mm-dd-yyyy' });
            console.log(date);
            if (AdminCheckErrorResponse(rs) == false) return;
            $('#DayRoomId').val(rs.data.DayRoomId);
            $('[name=Room]').val(rs.data.RoomId);
            $('[name=DayTimeRoom]').val(date);
        }

        const Delete_onClick = async function (el) {
            if (confirm('Bạn có chắc muốn xóa phòng ngày này không?') === false) return;
            const id = $(el).data('id');
            let rq = await fetch('/api/AdminDayRoom/DeleteDayRoom?id=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                alert('Xóa phòng ngày thành công.');
                searchRoom();
            }
        }

        const TrangThai_onClick = async function (el) {
            if (confirm('Bạn có chắc muốn thay đổi trạng thái phòng ngày này không?') === false) return;
            const id = $(el).data('id');
            let rq = await fetch('/api/AdminDayRoom/ChangeStatusDayRoom?id=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                alert('Thay đổi trạng thái phòng ngày thành công.');
                searchRoom();
            }
        }

        const CloseModal_onClick = function () {
            $('#exampleModalCenter').css('display', 'none');
            ResetModal();
        }

        const SaveModal_onClick = function () {
            if (_isUpdate === true) {
                UpdateDayRoom();
            } else {
                InsertDayRoom();
            }
            window.location.href = '/Admin/DayRoom/';
        }

        const UpdateDayRoom = async function () {
            if (confirm('Bạn có chắc muốn cập nhật phòng ngày không?') === false) return;
            let model = {
                DayRoomId: $('#DayRoomId').val(),
                RoomId: $('[name=Room]').val(),
                CreateTime: $('#DayTimeRoom').val()
            }
            console.log(model);
            if (GetObjectProperty(model, 'RoomId') === '') { alert('Tên phòng không được để trống.'); return; }
            if (GetObjectProperty(model, 'DayTime') === '') { alert('Ngày không được để trống.'); return; }

            let url = '/api/AdminDayRoom/UpdateDayRoom';
            if (GetObjectProperty(model, 'RoomId') === '') url = '/api/AdminDayRoom/InsertDayRoom';

            const rp = await fetch(url, {
                method: 'post',
                headers: Enum.OptionAdminHeaderDefault,
                body: JSON.stringify(model)
            });
            let rs = await rp.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                alert('Cập nhật phòng ngày thành công.');
                CloseModal_onClick();
            }
        }

        const InsertDayRoom = async function () {
            let model = {
                RoomId: $('[name=Room]').val(),
                CreateTime: $('[name=DayTimeRoom]').val()
            };
            console.log(model);
            if (GetObjectProperty(model, 'RoomId') === '') { alert('Tên phòng không được để trống.'); return; }
            if (GetObjectProperty(model, 'CreateTime') === '') { alert('Ngày không được để trống.'); return; }

            const rp = await fetch('/api/AdminDayRoom/InsertDayRoom', {
                method: 'post',
                headers: Enum.OptionAdminHeaderDefault,
                body: JSON.stringify(model)
            });
            let rs = await rp.json();

            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                if (rs.message !== '' && rs.message !== null) alert(rs.message);
                alert('Thêm phòng ngày thành công');
                CloseModal_onClick();
            }
        }

        const ResetModal = function () {
            $('[name=Room]').val('');
            $('#DayTimeRoom').val('');
        }*/



        const initPage = async function () {
            var curDate = new Date();
            console.log(curDate);

            var curDay = curDate.getDate();
            var curMonth = curDate.getMonth() + 1;
            var curYear = curDate.getFullYear();
            var dayTime = (curDay > 9 ? curDay : '0' + curDay) + '-' + (curMonth > 9 ? curMonth : '0' + curMonth) + '-' + curYear;

            $('#day-time').val(dayTime);
            await searchDayRoom();
        }
        initPage();
    </script>
}