<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>The Jocasta Mai Linh Hotel</title>
    <link rel="shortcut icon" href="/Content/img/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&amp;family=Barlow+Condensed&amp;family=Gilda+Display&amp;display=swap">
    <link rel="stylesheet" href="/Content/css/plugins.css" />
    <link rel="stylesheet" href="/Content/css/style.css" />
    <link rel="stylesheet" href="/Content/fontawesome/css/all.css">

    <style>
        .nav-link .user-name {
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 15px;
            font-weight: 400;
            text-transform: initial;
            letter-spacing: 0px;
            margin-left: 7px;
        }
    </style>

    @RenderSection("styles", false)
</head>

<body>
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <div class="logo-wrapper navbar-brand valign">
                <a href="index.html">
                    <div class="logo">
                        <img src="/Content/img/logo.png" class="logo-img" alt="">
                    </div>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"><i class="ti-line-double"></i></span> </button>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="room.html">Rooms & Suites</a></li>
                    <li class="nav-item"><a class="nav-link" href="service.html">Service</a></li>

                    <li class="nav-item"><a class="nav-link" href="new.html">New</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    @*<li class="nav-item dropdown">
                        <div class="nav-link d-flex">
                            <div class="user-img">
                                <img class="avatar-user" id="avatar-user" src="" alt="">
                            </div>

                            <div class="user-name">
                                <h6 class="mb-0" id="user-name"></h6>
                                <p class="mb-0" id="user-account" style="font-size:13px;"></p>
                            </div>
                        </div>


                        <ul class="dropdown-menu last">
                            <li class="dropdown-item">
                                <a href="/dang-nhap">Thông tin cá nhân</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="" onclick="LogOut();">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>*@
                </ul>
            </div>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">                   
                    <li class="nav-item dropdown">
                        <div class="nav-link d-flex">
                            <div class="user-img">
                                <img class="avatar-user" id="avatar-user" src="" alt="">
                            </div>

                            <div class="user-name">
                                <h6 class="mb-0" id="user-name"></h6>
                                <p class="mb-0" id="user-account" style="font-size:13px;"></p>
                            </div>
                        </div>


                        <ul class="dropdown-menu last">
                            <li class="dropdown-item">
                                <a href="/user/user-info">Thông tin cá nhân</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/user/list-order">Đơn đặt của bạn</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/dang-nhap">Thông báo</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="" onclick="LogOut();">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderSection("slider", false)
    @RenderBody()
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-column footer-about">
                            <h3 class="footer-title">About Hotel</h3>
                            <p class="footer-about-text">
                                Chào mừng Quý khách hàng đã đến với The Jocasta Mai Linh Hotel !
                                <br> The Jocasta Mai Linh Hotel tọa lạc ở ngay trung tâm thành phố Phan Thiết với vị trí giao thông đắc địa, gần trục đường lớn của đại lộ Lê Duẫn, cách quốc lộ 1A 500m.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <div class="footer-column footer-explore clearfix">
                            <h3 class="footer-title">Explore</h3>
                            <ul class="footer-explore-list list-unstyled">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="room.html">Rooms & Suites</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="new.html">New</a></li>
                                <li><a href="about.html">About Hotel</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-column footer-contact">
                            <h3 class="footer-title">Contact</h3>
                            <p class="footer-contact-text"><i class="flaticon-location-pin"></i> 70-72 Nguyễn Văn Siêu, P.Phú Tài <br>Tp.Phan Thiết, T.Bình Thuận</p>
                            <div class="footer-contact-info">
                                <p class="footer-contact-phone"><span class="flaticon-call"></span>+84 846 076 166</p>
                                <p class="footer-contact-mail">jocastaMLHotel@gmail.com</p>
                            </div>
                            <div class="footer-about-social-list">
                                <a href="#"><i class="ti-instagram"></i></a>
                                <a href="#"><i class="ti-twitter"></i></a>
                                <a href="#"><i class="ti-youtube"></i></a>
                                <a href="#"><i class="ti-facebook"></i></a>
                                <a href="#"><i class="ti-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- jQuery -->
    <script src="/Content/js/jquery-3.6.0.min.js"></script>
    <script src="/Content/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="/Content/js/modernizr-2.6.2.min.js"></script>
    <script src="/Content/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Content/js/jquery.isotope.v3.0.2.js"></script>
    <script src="/Content/js/pace.js"></script>
    <script src="/Content/js/popper.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/scrollIt.min.js"></script>
    <script src="/Content/js/jquery.waypoints.min.js"></script>
    <script src="/Content/js/owl.carousel.min.js"></script>
    <script src="/Content/js/jquery.stellar.min.js"></script>
    <script src="/Content/js/jquery.magnific-popup.js"></script>
    <script src="/Content/js/YouTubePopUp.js"></script>
    <script src="/Content/js/select2.js"></script>
    <script src="/Content/js/datepicker.js"></script>
    <script src="/Content/js/smooth-scroll.min.js"></script>
    <script src="/Content/js/custom.js"></script>
    <script src="/Content/js/helper.js"></script>

    <script>
        const GetUserLayoutInfo = async function () {
            let rq = await fetch('/api/user/GetInforUser', {
                method: 'get',
                headers: Enum.OptionHeaderDefault,
            });
            let rs = await rq.json();
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('#avatar-user').attr('src', GetObjectProperty(rs.data, 'Avatar'));
                $('#user-name').text(GetObjectProperty(rs.data, 'Name'));
                $('#user-account').text(GetObjectProperty(rs.data, 'Account'));
            }
        }
        GetUserLayoutInfo();

        const LogOut = async () => {
            if (confirm('Bạn có chắc chắn muốn đăng xuất tài khoản khỏi hệ thống?')){
                let rq = await fetch('/api/user/logout', {
                        method: 'get',
                        headers: Enum.OptionHeaderDefault
                    });
                    let rs = await rq.json();
                    if (CheckErrorResponse(rs) === false) return;
                    EraseCookie('UserToken');
                    EraseCookie('ExpiryTime');
                    EraseCookie('Email');
                    window.location.href = '/dang-nhap';
            }
        }
    </script>

    @RenderSection("scripts", false)

</body>

</html>