<!DOCTYPE html>
<html lang="en" class="h-100">


<!-- Mirrored from kamr.dexignlab.com/xhtml/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Mar 2023 16:05:35 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    

    <!-- PAGE TITLE HERE -->
    <title>The Jocasta Mai Linh Hotel</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <link href="/Content/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/Content/admin/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="/Content/admin/css/style.css" rel="stylesheet">
    @RenderSection("styles", false)
</head>

<body class="vh-100">
    @RenderBody()


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/Content/admin/vendor/global/global.min.js"></script>
    <script src="/Content/admin/js/custom.min.js"></script>
    <script src="/Content/admin/js/deznav-init.js"></script>
    <script src="/Content/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/Content/admin/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/Content/admin/js/demo.js"></script>
    <script src="~/Content/admin/js/styleSwitcher.js"></script>

    @RenderSection("scripts", false)
</body>

<!-- Mirrored from kamr.dexignlab.com/xhtml/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Mar 2023 16:05:36 GMT -->
</html>