
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="col-xl-12 h-auto">
                <div class="pb-5">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                            <div class="card trading mb-sm-0 mb-3">
                                <div class="card-body">
                                    <div class="income-data d-flex justify-content-between align-items-center mb-sm-0 mb-2 ps-lg-0">
                                        <div>
                                            <h3 class="font-w600 fs-2 mb-0 text-white" id="count-user">845</h3>
                                            <span class="fs-6 font-w500 text-white">Khách hàng</span>
                                        </div>
                                        <span class="income-icon style-2 fs-24">
                                            <i class="fa-solid fa-users"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                            <div class="card booking mb-0">
                                <div class="card-body">
                                    <div class="income-data d-flex justify-content-between align-items-center mb-sm-0 mb-2  mb-sm-0 mb-2 ps-lg-0 ">
                                        <div>
                                            <h3 class="font-w600 fs-2 mb-0" id="count-room-category">195</h3>
                                            <span class="fs-6 font-w500">Loại phòng</span>
                                        </div>
                                        <span class="income-icon style-3 fs-24">
                                            <i class="fa-solid fa-hotel"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                            <div class="card booking mb-0">
                                <div class="card-body">
                                    <div class="income-data d-flex justify-content-between align-items-center mb-sm-0 mb-2  mb-sm-0 mb-2 ps-lg-0 ">
                                        <div>
                                            <h3 class="font-w600 fs-2 mb-0" id="count-room">195</h3>
                                            <span class="fs-6 font-w500">Phòng</span>
                                        </div>
                                        <span class="income-icon style-3 fs-24">
                                            <i class="fa-solid fa-hotel"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="card availability line">
                        <div class="card-header border-0">
                            <h3>Thống kê phòng hôm nay</h3>
                        </div>
                        <div class="card-body pb-2">
                            <div id="pieChart1"></div>
                            <div class="d-flex justify-content-between pt-3 pt-sm-5 flex-wrap">
                                <span><span class="pills-lable bg-dark me-2"></span>Còn trống</span>
                                <h4>66 Rooms</h4>
                            </div>
                            <div class="d-flex justify-content-between flex-wrap">
                                <span><span class="pills-lable me-2"></span>Đã đặt</span>
                                <h4>129 Rooms</h4>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

@section styles{
    <style>
        
    </style>
}
@section scripts{
    <script>
        const GetCountUser = async () => {
            let rq = await fetch('/api/ManageUser/GetCountUser', {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            })
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                console.log(rs.data);
                $('#count-user').text(rs.data);
            }
        }

        const GetCountRoomCategory = async () => {
            let rq = await fetch('/api/AdminRoomCategory/GetCountRoomCategory', {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            })
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('#count-room-category').text(rs.data);
            }
        }

        const GetCountRoom = async () => {
            let rq = await fetch('/api/AdminRoom/GetCountRoom', {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            })
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('#count-room').text(rs.data);
            }
        }

        var pieChart1 = function () {
            var options = {
                series: [50/114, 64/114],
                chart: {
                    type: 'pie',
                    height: 200,
                },                
                stroke: {
                    width: 0,
                },
                colors: ['#717579', 'var(--primary)'],
                legend: {
                    position: 'bottom',
                    show: false
                },
                responsive: [{
                    breakpoint: 1601,
                    options: {
                        chart: {
                            height: 200,
                        },
                    }
                },
                {
                    breakpoint: 1024,
                    options: {
                        chart: {
                            height: 200,
                        },
                    }
                }]
            };
            var chart = new ApexCharts(document.querySelector("#pieChart1"), options);
            chart.render();

        }

        const initPage = function () {
            GetCountUser();
            GetCountRoomCategory();
            GetCountRoom();
        }

        initPage();
    </script>
}

