
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <h2>Quản lý đơn hàng</h2>
    </div>
    <div class=" d-block d-lg-flex align-items-center justify-content-between mb-5">
        <div class="coin-tabs input-group search-area2 w-50">
            <input id="keyword" type="text" class="form-control" placeholder="Search here" onkeypress="searchKeyPress(event);">
            <span class="input-group-text">
                <a href=""> <i class="fas fa-search"></i> </a>
            </span>
        </div>
        <div class="form-head d-sm-flex align-items-center mt-2 mt-lg-0">
            @*<select class="form-control default-select style-1 border w-auto ml-0">
                <option>Sort by Newest</option>
                <option>Oldest</option>
                <option>Newest</option>
            </select>
        <button class="btn btn-primary ms-sm-3 ms-0 mt-2 mt-sm-0" onclick="AddRoomCategory_onClick();">Add New Room</button>*@
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list" aria-labelledby="list-tab">
            <div class="tab-content" id="ListViewTabLinkContent">
                <div class="tab-pane fade active show" id="all-status" aria-labelledby="boxed-all-status-tab">
                    <div class="table-responsive card">
                        <div class="table-responsive">
                            <table class="table table-hover border-0 display mb-4 dataTablesCard booking-table table-responsive-lg " id="guestTable-all6">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã đơn đặt</th>
                                        <th>Người đặt</th>
                                        <th>Tổng tiền</th>
                                        <th>Ngày check in</th>
                                        <th>Ngày check out</th>
                                        <th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                        <th class="bg-none"></th>
                                    </tr>
                                </thead>

                                <tbody id="list-data">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-lg-flex justify-content-between" style="padding: 0 1.875rem 3rem 1.875rem;">
    <div class="form-inline" id="dynamic-table_length">
        <div class="d-lg-flex align-items-center">
            <div style="width: 50px;">Hiển thị </div>
            <select name="dynamic-table_length" aria-controls="dynamic-table" class="form-control input-sm" style="width: 60px; height: 35px; line-height:25px; margin-right:10px;" onchange="searchOrder();">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <div style="width: 100px;"> bản ghi </div>
        </div>
    </div>

    <div class="">
        <ul class="pagination pagination-circle mb-0" id="pagination">
        </ul>
    </div>
</div>


@section styles{
    <style>
    </style>
}
@section scripts{
    <script>
        const searchModel = {
            CurrentPage: 1,
            RowPerPage: $('[name=dynamic-table_length]').val(),
            Keyword: $('#keyword').val(),
        };

        const searchOrder = function () {
            searchModel.CurrentPage = 1;
            searchModel.PageSize = $('[name=dynamic-table_length]').val();
            searchModel.Keyword = $('#keyword').val();

            getdataListOrder(searchModel);
        }

        const getdataListOrder = async function (searchModel) {
            let rq = await fetch('/api/AdminOrder/GetListOrder?keyword=' + searchModel.Keyword + '&page=' + searchModel.CurrentPage + '&pageSize=' + searchModel.PageSize, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;

            console.log(rs);
            $('#list-data').html('');
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                let html = '';
                for (let i = 0; i < rs.data.List.length; i++) {
                    html += '<tr>';
                    html += '<td><span class="fs-15 font-w500 text-nowrap">' + (i + 1) + '</span></td>';
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${rs.data.List[i].Code}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${rs.data.List[i].Name}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${rs.data.List[i].TotalPrice}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${DateStringFormat({ stringDate: new Date(rs.data.List[i].CheckIn), newFormat: 'dd/mm/yyyy' })}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${DateStringFormat({ stringDate: new Date(rs.data.List[i].CheckOut), newFormat: 'dd/mm/yyyy' })}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${DateStringFormat({ stringDate: new Date(rs.data.List[i].CreateTime), newFormat: 'dd/mm/yyyy' })}</span></div></td>`;
                    switch (rs.data.List[i].Status) {
                        case "BOOKED":
                            html += `<td class="text-center"><span class="badge badge-lg light badge-success">Đã đặt</span></td>`;
                            html += `<td>`;
                            html += `<button class="btn btn-sm btn-success" style="margin-right:5px;" data-id="${rs.data.List[i].OrderId}" onclick = "CheckIn_onClick(this);">Check in</button>`;
                            html += `<button class="btn btn-sm btn-danger" style="margin-right:5px;" data-id="${rs.data.List[i].OrderId}" onclick="SystemCancel_onClick(this);">Hủy</button>`;
                            html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button><td>`;
                            break;                        
                        case "CHECKED_IN":
                            html += `<td class="text-center"><span class="badge badge-lg light badge-info">Đã check in</span></td>`;
                            html += `<td>`;
                            html += `<button class="btn btn-sm btn-secondary" style="margin-right:5px;" data-id="${rs.data.List[i].OrderId}" onclick = "CheckOut_onClick(this);">Check out</button>`;
                            html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button><td>`;
                            break;
                        case "CHECKED_OUT":
                            html += `<td class="text-center"><span class="badge badge-lg light badge-primary">Đã check out</span></td>`;
                            html += `<td>`;
                            html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button><td>`;
                            break;
                        case "USER_CANCEL":
                            html += `<td class="text-center"><span class="badge badge-lg light badge-danger" id="">Người dùng hủy</span></td>`;
                            html += `<td>`;
                            html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button><td>`;
                            break;
                        case "SYSTEM_CANCEL":
                            html += `<td class="text-center"><span class="badge badge-lg light badge-secondary">Hệ thống hủy</span></td>`;
                            html += `<td>`;
                            html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button><td>`;
                            break;
                    }
                    
                    html += `</tr>`;
                }

                $('#list-data').append(html);
                Pagination(searchModel, rs.data.TotalPage, null, getdataListOrder);
            }
        }

        

        const initPage = function () {
            searchOrder();
        }
        initPage();
    </script>
    
    }

