
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <h2>Quản lý đơn hàng</h2>
    </div>
    <div class=" d-block d-lg-flex align-items-center justify-content-between mb-5">
        <div class="coin-tabs input-group search-area2 w-50">
            <input id="keyword" type="text" class="form-control" placeholder="Tìm kiếm theo mã code hóa đơn hoặc email hoặc số điện thoại" onkeypress="searchKeyPress(event);">
            <button class="input-group-text" onclick="searchOrder()">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="form-head d-sm-flex align-items-center mt-2 mt-lg-0">
            <select class="form-control default-select style-1 border w-auto ml-0" name="Status" onchange="Status_onChange();">
            </select>
            <button class="btn btn-primary ms-sm-3 ms-0 mt-2 mt-sm-0" onclick="AddOrder_onClick();">Thêm mới</button>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list" aria-labelledby="list-tab">
            <div class="tab-content" id="ListViewTabLinkContent">
                <div class="tab-pane fade active show" id="all-status" aria-labelledby="boxed-all-status-tab">
                    <div class="table-responsive card">
                        <div class="table-responsive">
                            <table class="table table-hover border-0 display mb-4 dataTablesCard booking-table table-responsive-lg " id="guestTable-all6">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã đơn đặt</th>
                                        <th>Người đặt</th>
                                        <th>Tổng tiền</th>
                                        <th>Ngày vào</th>
                                        <th>Ngày ra</th>
                                        <th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                        @*<th class="bg-none">Thao tác</th>
                                            <th class="bg-none"></th>*@
                                        <th class="">Thao tác</th>
                                        <th class="">Xem chi tiết</th>
                                    </tr>
                                </thead>

                                <tbody id="list-data">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-lg-flex justify-content-between" style="padding: 0 1.875rem 3rem 1.875rem;">
    <div class="form-inline" id="dynamic-table_length">
        <div class="d-lg-flex align-items-center">
            <div style="width: 50px;">Hiển thị </div>
            <select name="dynamic-table_length" aria-controls="dynamic-table" class="form-control input-sm" style="width: 60px; height: 35px; line-height:25px; margin-right:10px;" onchange="searchOrder();">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <div style="width: 100px;"> bản ghi </div>
        </div>
    </div>

    <div class="">
        <ul class="pagination pagination-circle mb-0" id="pagination">
        </ul>
    </div>
</div>

@*<div class="modal-export" onclick="closeModalExport();">
        <div class="modal-container">
            <div class="order-detail">
                <input type="text" id="order-id" value="" hidden />
                <div class="name-hotel" style="margin-bottom: 20px;display: flex; align-items: center;">
                    <img style="width: 150px; height:100px;" src="/Content/img/logo.png" alt="logo">
                    <h3 style="padding-left: 40px;">THE JOCASTA MAI LINH HOTEL</h3>
                </div>

                <div class="user-order">
                    <div>
                        <h6>Họ và tên: <span class="user-name"></span></h6>
                        <h6>Số điện thoại: <span class="user-phone"></span></h6>
                        <h6>Email: <span class="user-email"></span></h6>
                    </div>
                    <div>
                        <h6>Mã hóa đơn: <span class="order-code"></span></h6>
                        <h6>Ngày đến: <span class="order-checkin"></span></h6>
                        <h6>Ngày đi: <span class="order-checkout"></span></h6>
                    </div>
                </div>
                <div class="room-order">
                    <h6>Các phòng đã đặt:</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Loại phòng</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>
                        <tbody id="list-room-order">
                        </tbody>
                    </table>
                </div>
                <div class="service-order">
                    <h6>Các dịch vụ đã đặt:</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Dịch vụ</th>
                                <th>Số lượng</th>
                                <th>Ngày đặt</th>
                            </tr>
                        </thead>
                        <tbody id="list-service-order">
                        </tbody>
                    </table>
                </div>
                <div class="order-price"><h4>Tổng tiền: <span class="total-price">0</span> VNĐ</h4></div>
            </div>
        </div>
    </div>*@


@section styles{
    <style>
        /*.modal-export {
            position: fixed;
            background-color: #00000060;
            top: 0;
            left: 0;
            z-index: 1055;
            display: none;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            outline: 0;
        }

        .modal-export .modal-container{
            position: relative;
            width: 50%;
            background-color: white;
            height: auto;
            margin: auto;
            padding: 30px;
        }

        .modal-export .modal-container .name-hotel{*/
        /*margin-bottom: 20px;
            display: flex;
            align-items: center;*/
        /*}

        .modal-export .modal-container .name-hotel img{

        }

        .modal-export .modal-container .order-detail .user-order{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .modal-export .modal-container .order-detail .room-order{
            margin-bottom: 20px;
        }

        .modal-export .modal-container .order-detail .service-order{
            margin-bottom: 20px;
        }

        .modal-export .modal-container .order-detail table{
            width: 100%;

        }

        .modal-export .modal-container .order-detail table thead{
            background-color: #f0dfca;
        }

        .modal-export .modal-container .order-detail table thead tr th{
            text-align: center;
        }

        .modal-export .modal-container .order-detail table tbody tr td{
            text-align: center;
            padding: 10px 0;
        }*/


    </style>
}
@section scripts{
    <script>
        var ListStatusOrder = function () {
            var listKey = Object.keys(ENUM_STATUS_ORDER);
            var html = '';
            for (var i = 0; i < listKey.length; i++) {
                html += '<option value="' + listKey[i] + '">' + ENUM_STATUS_ORDER[listKey[i]] + '</option>';
            };
            $('select[name=Status]').html('<option value="">Chọn trạng thái</option>' + html);
        }

        const searchModel = {
            CurrentPage: 1,
            PageSize: $('[name=dynamic-table_length]').val(),
            Keyword: $('#keyword').val(),
        };

        const searchOrder = function () {
            searchModel.CurrentPage = 1;
            searchModel.PageSize = $('[name=dynamic-table_length]').val();
            searchModel.Keyword = $('#keyword').val();

            getdataListOrder(searchModel);
        }

        const getdataListOrder = async function (searchModel) {
            let rq = await fetch('/api/AdminOrder/GetListOrder?keyword=' + searchModel.Keyword + '&page=' + searchModel.CurrentPage + '&pageSize=' + searchModel.PageSize, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;

            console.log(rs);
            $('#list-data').html('');
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                let html = '';
                for (let i = 0; i < rs.data.List.length; i++) {
                    html += '<tr>';
                    html += '<td class="text-center"><span class="fs-15 font-w500 text-nowrap">' + (i + 1) + '</span></td>';
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${rs.data.List[i].Code}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${rs.data.List[i].Name}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${NumberFormat(rs.data.List[i].TotalPrice)}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${DateStringFormat({ stringDate: new Date(rs.data.List[i].CheckIn), newFormat: 'dd/mm/yyyy' })}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${DateStringFormat({ stringDate: new Date(rs.data.List[i].CheckOut), newFormat: 'dd/mm/yyyy' })}</span></div></td>`;
                    html += `<td><div><span class="fs-15 font-w500 text-nowrap">${DateStringFormat({ stringDate: new Date(rs.data.List[i].CreateTime), newFormat: 'dd/mm/yyyy' })}</span></div></td>`;
                    switch (rs.data.List[i].Status) {
                        case "BOOKED":
                            html += `<td><span class="badge badge-lg light badge-success">Đã đặt</span></td>`;
                            html += `<td>`;
                            html += `<button class="btn btn-sm btn-success" style="margin-right:5px;" data-id="${rs.data.List[i].OrderId}" onclick = "CheckIn_onClick(this);">Check in</button>`;
                            html += `<button class="btn btn-sm btn-danger" style="margin-right:5px;" data-id="${rs.data.List[i].OrderId}" onclick="SystemCancel_onClick(this);">Hủy</button>`;
                            //html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button>`;
                            html += `</td>`;
                            break;
                        case "CHECKED_IN":
                            html += `<td><span class="badge badge-lg light badge-info">Đã check in</span></td>`;
                            html += `<td>`;
                            html += `<button class="btn btn-sm btn-secondary" style="margin-right:5px;" data-id="${rs.data.List[i].OrderId}" onclick = "CheckOut_onClick(this);">Check out</button>`;
                            //html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button>`;
                            html += `</td>`;
                            break;
                        case "CHECKED_OUT":
                            html += `<td><span class="badge badge-lg light badge-primary">Đã check out</span></td>`;
                            html += `<td>`;
                            /*html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button>`;*/
                            html += `</td>`;

                            break;
                        case "USER_CANCEL":
                            html += `<td><span class="badge badge-lg light badge-danger" id="">Người dùng hủy</span></td>`;
                            html += `<td>`;
                            //html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button>`;
                            html += `</td>`;
                            break;
                        case "SYSTEM_CANCEL":
                            html += `<td><span class="badge badge-lg light badge-secondary">Hệ thống hủy</span></td>`;
                            html += `<td>`;
                            /*html += `<button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Xem chi tiết</button>`;*/
                            html += `<td>`;
                            break;
                    }

                    html += `<td><button class="btn btn-sm btn-primary" data-id="${rs.data.List[i].OrderId}" onclick="OrderDetail_onClick(this);">Chi tiết</button></td>`

                    html += `</tr>`;
                }

                $('#list-data').append(html);
                Pagination(searchModel, rs.data.TotalPage, null, getdataListOrder);
            }
        }

        const SystemCancel_onClick = async function (el) {
            var id = $(el).data('id');
            let rq = await fetch('/api/AdminOrder/SystemCancelOrder?orderId=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                window.location.reload();
            }
        }

        const CheckIn_onClick = async function (el) {
            var id = $(el).data('id');
            let rq = await fetch('/api/AdminOrder/CheckInOrder?orderId=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                window.location.reload();
            }
        }

        const CheckOut_onClick = async function (el) {
            var id = $(el).data('id');
            let rq = await fetch('/api/AdminOrder/CheckOutOrder?orderId=' + id, {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            });
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                window.location.reload();
            }
        }

        const OrderDetail_onClick = function (el) {
            let id = $(el).data('id');
            window.location.href = ('/admin/Order/Detail?id=' + id);
        }

        const searchKeyPress = function (event) {
            if (event.keyCode == 13) {
                searchOrder();
            }
        }

        const initPage = function () {
            searchOrder();
            ListStatusOrder();
        }


        initPage();


        /*
                const getUserOrder = async function (orderId) {
                    let rp = await fetch('/api/AdminOrder/GetOrderById?id=' + orderId, {
                        method: 'get',
                        headers: Enum.OptionAdminHeaderDefault
                    });
                    let rs = await rp.json();
                    if (AdminCheckErrorResponse(rs) === false) return;
                    if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                        $('.user-order .user-name').html(GetObjectProperty(rs.data, 'Name'));
                        $('.user-order .user-phone').html(GetObjectProperty(rs.data, 'Phone'));
                        $('.user-order .user-email').html(GetObjectProperty(rs.data, 'Email'));
                        $('.user-order .order-code').html(GetObjectProperty(rs.data, 'Code'));
                        $('.user-order .order-checkin').html(DateStringFormat({ stringDate: new Date(rs.data.CheckIn), newFormat: 'mm/dd/yyyy' }));
                        $('.user-order .order-checkout').html(DateStringFormat({ stringDate: new Date(rs.data.CheckOut), newFormat: 'mm/dd/yyyy' }));
                        $('.order-price .total-price').html(NumberFormat(rs.data.TotalPrice));
                    }
                }

                const getListRoomOrder = async function (orderId) {
                    let rp = await fetch('/api/AdminInvoice/GetListRoomBooked?orderId=' + orderId, {
                        method: 'get',
                        headers: Enum.OptionAdminHeaderDefault
                    });
                    let rs = await rp.json();
                    if (AdminCheckErrorResponse(rs) === false) return;

                    $('#list-room-order').html('');
                    if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                        let html = '';
                        for (let i = 0; i < rs.data.length; i++) {
                            html += '<tr>';
                            html += `<td>${i + 1}</td>`;
                            html += `<td>${rs.data[i].Name}</td>`;
                            html += `<td>${rs.data[i].Quantity}</td>`;
                            html += '</tr>';
                        }
                        $('#list-room-order').append(html);
                    }
                }

                const getListServiceOrder = async function (orderId) {
                    let rp = await fetch('/api/AdminInvoice/GetListServiceBooked?orderId=' + orderId, {
                        method: 'get',
                        headers: Enum.OptionAdminHeaderDefault
                    });
                    let rs = await rp.json();
                    if (AdminCheckErrorResponse(rs) === false) return;

                    $('#list-service-order').html('');
                    if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                        let html = '';
                        if (rs.data.length == 0) {
                            $('.service-order').css('display', 'none');
                        }

                        console.log(rs.data.length)
                        for (let i = 0; i < rs.data.length; i++) {
                            html += '<tr>';
                            html += `<td>${i + 1}</td>`;
                            html += `<td>${rs.data[i].Name}</td>`;
                            html += `<td>${rs.data[i].Quantity}</td>`;
                            html += `<td>${DateStringFormat({ stringDate: new Date(rs.data[i].CreateTime), newFormat: 'dd/mm/yyyy hh:mi:ss' })}</td>`;
                            html += '</tr>';
                        }
                        $('#list-service-order').append(html);
                    }
                }*/
    </script>


}

