
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section slider{
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="/Content/img/slider/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption mt-90">
                    <h5>The Jocasta Mai Linh Hotel</h5>
                    <h1>List Order</h1>
                </div>
            </div>
            <div class="row sub-banner">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a class="select" href="">List Order</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<!-- Your room -->
<section class="section-padding">
    <div class="container">
        <h3 class="title">Chi tiết đơn đặt của bạn</h3>
        <div class="user-info row">
            <div class="col-md-6">
                <div class="item user-name">
                    <strong class="text">Người nhận phòng: </strong>
                    <span class="value"></span>
                </div>
                <div class="item user-phone">
                    <strong class="text">Điện thoại: </strong>
                    <span class="value"></span>
                </div>
                <div class="item user-email">
                    <strong class="text">Email: </strong>
                    <span class="value"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item check-in">
                    <strong class="text">Check in: </strong>
                    <span class="value"></span>
                </div>
                <div class="item check-out">
                    <strong class="text">Check out: </strong>
                    <span class="value"></span>
                </div>
                <div class="item user-time">
                    <strong class="text">Ngày đặt: </strong>
                    <span class="value"></span>
                </div>
            </div>            
        </div>

        <div class="list-room">
            <ul id="list-room-booked">
            </ul>
        </div>
    </div>
</section>



@section styles{
    <style>

        .title {
            color: #aa8453;
        }

        .user-info {
        }

        .user-info .item{
            line-height: 3;
        }

        /*#list-user-order {
            margin: auto 60px;
        }

            #list-user-order li {
                display: flex;
                justify-content: space-between;
                margin: 15px;
                padding: 15px 25px;
                border: .5px solid #aa8453;
                cursor: pointer;
                border-radius: 7px;
            }

                #list-user-order li > div {
                    line-height: 30px;
                }*/
    </style>
}

@section scripts{
    <script>
        const id = "@ViewBag.Id";
        const getOrderById = async function () {
            let rq = await fetch('/api/order/GetOrderById?id=' + id, {
                method: 'get',
                headers: Enum.OptionHeaderDefault
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;
            console.log(rs.data)
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('.user-info .user-name .value').html(GetObjectProperty(rs.data, 'Name'));
                $('.user-info .user-phone .value').html(GetObjectProperty(rs.data, 'Phone'));
                $('.user-info .user-email .value').html(GetObjectProperty(rs.data, 'Email'));
                $('.user-info .user-time .value').html(DateStringFormat({ stringDate: new Date(rs.data.CreateTime), newFormat: 'mm/dd/yyyy' }));
                $('.user-info .check-in .value').html(DateStringFormat({ stringDate: new Date(rs.data.CheckIn), newFormat: 'mm/dd/yyyy' }));
                $('.user-info .check-out .value').html(DateStringFormat({ stringDate: new Date(rs.data.CheckOut), newFormat: 'mm/dd/yyyy' }));
            }
        }

        const getListRoomBooked = async function () {
            let rq = await fetch('/api/order/GetOrderById?id=' + id, {
                method: 'get',
                headers: Enum.OptionHeaderDefault
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;
            console.log(rs.data)
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('.user-info .user-name .value').html(GetObjectProperty(rs.data, 'Name'));
                $('.user-info .user-phone .value').html(GetObjectProperty(rs.data, 'Phone'));
                $('.user-info .user-email .value').html(GetObjectProperty(rs.data, 'Email'));
                $('.user-info .user-time .value').html(DateStringFormat({ stringDate: new Date(rs.data.CreateTime), newFormat: 'mm/dd/yyyy' }));
                $('.user-info .check-in .value').html(DateStringFormat({ stringDate: new Date(rs.data.CheckIn), newFormat: 'mm/dd/yyyy' }));
                $('.user-info .check-out .value').html(DateStringFormat({ stringDate: new Date(rs.data.CheckOut), newFormat: 'mm/dd/yyyy' }));
            }
        }

        const initPage = async function () {
            await getOrderById();
        }

        initPage();

    </script>
}

