
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section slider{
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="/Content/img/slider/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption mt-90">
                    <h5>The Jocasta Mai Linh Hotel</h5>
                    <h1>List Order</h1>
                </div>
            </div>
            <div class="row sub-banner">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a class="select" href="">List Order</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<!-- Your room -->
<section class="section-padding">
    <div class="container">
        <h3 class="title">Chi tiết đơn đặt của bạn</h3>
        <div class="user-info row">
            <div class="col-md-6">
                <div class="item user-name">
                    <strong class="text">Người nhận phòng: </strong>
                    <span class="value"></span>
                </div>
                <div class="item user-phone">
                    <strong class="text">Điện thoại: </strong>
                    <span class="value"></span>
                </div>
                <div class="item user-email">
                    <strong class="text">Email: </strong>
                    <span class="value"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item check-in">
                    <strong class="text">Check in: </strong>
                    <span class="value"></span>
                </div>
                <div class="item check-out">
                    <strong class="text">Check out: </strong>
                    <span class="value"></span>
                </div>
                <div class="item user-time">
                    <strong class="text">Ngày đặt: </strong>
                    <span class="value"></span>
                </div>
            </div>
        </div>

        <div class="list-room">
            <h6>Các phòng bạn đã đặt: </h6>
            <table>
                <tbody id="list-room-booked"></tbody>
            </table>
        </div>

        <div class="list-service">
            <h6>Các dịch vụ bạn đã đặt: </h6>
            <table>
                <tbody id="list-service-invoice"></tbody>
            </table>
        </div>

        <div class="button-booked">
            <button id="btn-service" class="btn btn-primary" onclick="orderService_onClick();">Đặt dịch vụ</button>
            <button id="btn-cancel" class="btn btn-danger" onclick="userCancel_onClick();">Hủy</button>
        </div>
    </div>
</section>

<div class="modal" id="order-service">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Đặt dịch vụ</h2>
            <button type="button" onclick="CloseModal_onClick();">
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-6 mb-0">
                    <label class="font-weight-semibold fs-16" for="service">Tên dịch vụ</label>
                    <select class="form-control" id="Service" name="Service">
                        <option value="">Chọn dịch vụ</option>
                    </select>
                </div>

                <div class="form-group col-md-6 mb-0">
                    <label class="font-weight-semibold fs-16" for="quantity">Số lượng</label>
                    <input type="text" class="form-control" id="Quantity" placeholder="Nhập số lượng" onkeyup="ValidateInputOnlyNumber(event,this)" required>
                </div>

                <div class="form-group col-md-12 mb-0">
                    <label class="font-weight-semibold fs-16" for="request">Nội dung yêu cầu</label>
                    <textarea class="form-control" aria-label="With textarea" style="resize:none;" placeholder="Nhập nội dung" rows="2" id="Request"></textarea>
                </div>
                
            </div>
            <div><button class="btn btn-success" onclick="AddService_onClick();">Thêm</button></div>
            <div class="service-booked">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 30%;">Dịch vụ</th>
                            <th>Số lượng</th>
                            <th style="width: 45%;">Nội dung yêu cầu</th>
                            <th style="width: 7%;"></th>
                        </tr>
                    </thead>
                    <tbody id="list-service-booked">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger light" data-bs-dismiss="modal" onclick="CloseModal_onClick();">Close</button>
            <button type="button" class="btn btn-primary" onclick="SaveService_onClick();">Save</button>
        </div>
    </div>
</div>



@section styles{
    <style>

        .title {
            color: #aa8453;
        }

        .user-info {
        }

            .user-info .item {
                line-height: 3;
            }

        .container {
            width: 60% !important;
            margin: auto;
        }

        .list-room {
            margin-top: 20px;
        }

            .list-room table {
                width: 80%;
                margin: auto;
            }

                .list-room table tbody {
                    font-size: 15px;
                }

        #list-room-booked td img {
            width: 80px;
            height: 60px;
        }

        #list-room-booked td {
            border: none;
        }

            #list-room-booked td .room-price {
                padding-top: 10px;
            }

        .button-booked {
            float: right;
            margin: 20px;
        }

            .button-booked > button {
                margin-left: 15px;
                display: none;
            }

        #order-service {
            display: none;
            position: fixed;
            background-color: #00000060;
            top: 0;
            left: 0;
            z-index: 1055;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            outline: 0;
        }

        #order-service .modal-content{
            height: 700px;
            width: 700px;
            margin: auto;
        }

        .modal-body .service-booked{
            width: 100%;
            margin-top: 15px;
        }

        .modal-body .service-booked table{
            width: 100%;
        }


    </style>
}

@section scripts{
    <script>
        const id = "@ViewBag.Id";
        const getOrderById = async function () {
            let rq = await fetch('/api/order/GetOrderById?id=' + id, {
                method: 'get',
                headers: Enum.OptionHeaderDefault
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('.user-info .user-name .value').html(GetObjectProperty(rs.data, 'Name'));
                $('.user-info .user-phone .value').html(GetObjectProperty(rs.data, 'Phone'));
                $('.user-info .user-email .value').html(GetObjectProperty(rs.data, 'Email'));
                $('.user-info .user-time .value').html(DateStringFormat({ stringDate: new Date(rs.data.CreateTime), newFormat: 'mm/dd/yyyy' }));
                $('.user-info .check-in .value').html(DateStringFormat({ stringDate: new Date(rs.data.CheckIn), newFormat: 'mm/dd/yyyy' }));
                $('.user-info .check-out .value').html(DateStringFormat({ stringDate: new Date(rs.data.CheckOut), newFormat: 'mm/dd/yyyy' }));

                if (GetObjectProperty(rs.data, 'Status') == 'BOOKED') {
                    $('#btn-cancel').css('display', 'block');
                }

                else if (GetObjectProperty(rs.data, 'Status') == 'CHECKED_IN') {
                    $('#btn-service').css('display', 'block');
                }
            }
        }

        const getListRoomBooked = async function () {
            let rq = await fetch('/api/invoice/GetListRoomBooked?orderId=' + id, {
                method: 'get',
                headers: Enum.OptionHeaderDefault
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;
            console.log(rs.data)
            $('#list-room-booked').html('');

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                let html = '';
                for (let i = 0; i < rs.data.length; i++) {
                    html += `<tr>`
                    html += `<td style="width: 80px;"><img src="${rs.data[i].Image}" alt=""></td>`;
                    html += `<td><div>${GetObjectProperty(rs.data[i], 'Name')}</div><div class="room-price">Giá: ${(NumberFormat(rs.data[i].Price))} VNĐ/Đêm</div></td>`;
                    html += `<td style="width:150px;"><div>Số lượng: ${GetObjectProperty(rs.data[i], 'Quantity')}</div></td>`;
                    html += `</tr>`;
                }
                $('#list-room-booked').append(html);

            }
        }

        const userCancel_onClick = async function () {
            let rq = await fetch('/api/order/UserCancelOrder?orderId=' + id, {
                method: 'get',
                headers: Enum.OptionHeaderDefault
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                window.location.href = '/user/list-order';
            }
        }

        const orderService_onClick = function () {
            $('#order-service').css('display', 'flex');
        }

        const getListService = async function () {
            let rq = await fetch('/api/service/GetListService', {
                method: 'get',
                headers: Enum.OptionHeaderDefault
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;

            $('[name=Service]').html('');
            let html = '<option value="">Chọn dịch vụ</option>';
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                for (let i = 0; i < rs.data.length; i++) {
                    html += `<option value="${rs.data[i].ServiceId}" data-name="${rs.data[i].Name}">${rs.data[i].Name}</option>`;
                }
            }

            $('[name=Service]').append(html);
        }

        const AddService_onClick = function () {
            let model = {
                Service: $('select[name=Service]').val(),
                ServiceName: $('#Service').find(':selected').text(),
                Quantity: $('#Quantity').val(),
                Request: $('#Request').val()
            }

            console.log(model);

            if (GetObjectProperty(model,'Service') === '') { alert('Bạn chưa chọn dịch vụ.'); return; }
            if (GetObjectProperty(model,'Quantity') === '') { alert('Số lượng không được để trống'); return; }

            let html = '<tr class="item-service">';
            html += '<td><input value="' + model.Service + '" hidden />' + model.ServiceName + '</td>';
            html += '<td>' + model.Quantity + '</td>';
            html += '<td>' + model.Request + '</td>';
            html += '<td class="text-center" style="width:100px;"><input type="hidden" name="serviceid"/><button onclick="DeleteService(this);" class="btn btn-outline-danger btn-xs"><i class="fas fa-trash"></i></button></td>';
            
            $('#list-service-booked').append(html);
        }

        const initPage = async function () {
            await getOrderById();
            await getListRoomBooked();
            await getListService();
        }

        initPage();

    </script>
}

