
@{
    ViewBag.Title = "Đặt phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section slider{
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="/Content/img/slider/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption mt-90">
                    <h5>The Jocasta Mai Linh Hotel</h5>
                    <h1>Selected Room</h1>
                </div>
            </div>
            <div class="row sub-banner">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a class="select" href="">Selected Room</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<!-- Your room -->
<section class="section-padding">
    <div class="container">
        <div class="bread-crumb">
            <div class="row">
                <div class="col-md-12">
                    <div class="bread-crumb-sec">
                        <a class="selected">
                            <span class="number" style="text-align: center;">1</span>
                            <div class="clear"></div>
                            <span class="text">Bạn chọn</span>
                        </a>
                    </div>

                    <div class="bread-crumb-sec">
                        <a>
                            <span class="number">2</span>
                            <div class="clear"></div>
                            <span class="text">Chi tiết về bạn</span>
                        </a>
                    </div>

                    <div class="bread-crumb-sec">
                        <a>
                            <span class="number">3</span>
                            <div class="clear"></div>
                            <span class="text">Đặt phòng</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="detail-sections">
            <div class="row">
                <div class="col-md-4">
                    <div class="booking-box reservation">
                        <div style="text-align: center;"><span class="title">Đặt phòng</span></div>

                        <ul>
                            <li><span><strong>Check In:</strong><span id="check-in"></span></span></li>
                            <li><span><strong>Check Out:</strong><span id="check-out"></span></span></li>
                            @* <li><span><strong>Guests:</strong>2 Adult, 1 Child</span></li>*@
                            <li><span><strong>Rooms:</strong><span id="total-count-room"></span></span></li>
                        </ul>
                        <button type="submit" class="btn-form1-submit mt-15" onclick="editBooked_onClick();">Edit reservation</button>
                    </div>

                </div>
                <div class="col-md-8">

                    <div class="your-room">
                        <h4>Các phòng bạn chọn:</h4>

                        <div class="detail">
                            <ul id="list-room-booked">
                            </ul>

                        </div>

                    </div>

                    <div class="total-price">
                        <h6>Tổng tiền: <span id="total-price">8.048.000</span> VNĐ</h6>
                    </div>
                    <div class="btn-reservation">
                        <button type="submit" class="btn-form1-submit mt-15" onclick="seeInfoUser_onClick();">Chi tiết về bạn</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>



@section styles{
    <style>
    </style>
}

@section scripts{
    <script src="~/Content/js/helper.js"></script>
    <script>
        const getCartByUser = async function () {
            let rq = await fetch('/api/cart/GetCartByUser', {
                method: 'get',
                headers: Enum.OptionHeaderDefault
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('#check-in').text(DateStringFormat({ stringDate: new Date(rs.data.CheckIn), newFormat: 'mm/dd/yyyy' }));
                $('#check-out').text(DateStringFormat({ stringDate: new Date(rs.data.CheckOut), newFormat: 'mm/dd/yyyy' }));
                $('#total-count-room').text(rs.data.TotalQuantity);
                $('#total-price').text(NumberFormat(rs.data.TotalPrice));
            }

        }

        const getListRoomBooked = async function () {
            let rq = await fetch('/api/cart/GetListRoomBookedByUser', {
                method: 'get',
                headers: Enum.OptionHeaderDefault
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;

            console.log(rs);
            $('#list-room-booked').html('');
            let html = '';

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                for (let i = 0; i < rs.data.length; i++) {

                    html += `<li><img src="${rs.data[i].Image}" alt="">`;
                    html += `<div><h6>${GetObjectProperty(rs.data[i], 'Name')}</h6><p>Số lượng: ${GetObjectProperty(rs.data[i], 'Quantity')}</p>`;
                    html += `<div class="room-price"><span class="current">${(NumberFormat(rs.data[i].Price))}</span> VNĐ/Đêm</div>`;
                    html += `</div></li>`;
                }
                $('#list-room-booked').append(html);
            }
        }

        const seeInfoUser_onClick = function () {
            window.location.href = '/information-user-book';
        }

        const editBooked_onClick = function () {
            window.location.href = '/check-now';
        }

        const initPage = async function () {
            await getCartByUser();
            await getListRoomBooked();
        }

        initPage();

    </script>
}

